main{
  margin: 0;
  padding: 1.875rem 1.25rem 0px 1.25rem;
  display: flex;
  justify-content: center;
  
  background-color: $veryLightgrey;
}

.main{
  &__box{

      max-width: 58.4375rem;
      width: 100%;

  }
}