main{
  margin: 0;
  padding: 1.875rem 1.25rem 0px 1.25rem;
  display: flex;
  justify-content: center;
  
  background-color: $veryLightgrey;
}

.main{
  &__box{

      max-width: 58.4375rem;
      width: 100%;
      background-color: aqua;

  }
}

.profile{
  display: flex;
  margin-bottom: 2.75rem;

  &__img{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-right: 1.875rem;
  }

  &__github{
    width: 9.375rem;
    height: 9.375rem;
  }

  &__text{

    .hero{
      display: flex;
    .id{
      font-size: $font-xl;
      font-weight: $weight-light;
      margin-bottom: 1.25rem;
    }

    img{
      height: 100%;
    }

  }

    .number{
      display: flex;
      margin-bottom: 1.25rem;


      .post{
        display: flex;
        margin-right: 2.5rem;

      }

      .follower{
        display: flex;
        margin-right: 2.5rem;
      }

      .follow{
        display: flex;
      }

      .first{
          margin-right: 0.3125rem;
      }

      .second{
        margin-top: 0.125rem;
        font-size: 15px;
        font-weight: $weight-bold;
      }
    }


    .detail{
      &__name{
        font-weight: $weight-bold;
      }

      &__info{
        margin-top: 0.125rem;
        line-height: 1.5;
      }
    }
  }
}

