$bluesky : #0095f6;
$darkblue : #00376b;
$grey : #8E8E8E;
$lightgrey: #dbdbdb;
$veryLightgrey : #fafafa;
$black : #000000;
$lightblack : #262626;
$black_tran: rgba(0,0,0, 0.3);
$white : #ffffff;

$font-xl:1.75rem;
$font-small:0.875rem;
$font-xs:0.75rem;

$weight-light:300;
$weight-bold:600;